// Define variables for your color scheme

// For example:

$yellow: #FDD835;
$dark-gray: #424242;
$gray: #6D6D6D;
$light-gray: #E0E0E0;
$fake-white: #EFEFEF;

$green: green;
$red: red;
$orange: orange;
