.form-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-form {
  margin-top: 20px;
  background-color: #FFFFFF;
  width: 400px;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  h3 {
    margin-top: 0;
  }
}

.btn {
  opacity: 0.9;
}

h3 {
  color: #4E607C;

}
