.form-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  background-color: #E0DDC3;
  width: 400px;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  h3 {
    margin-top: 0;
  }
}


.cocktail-container {
  background-color: #E0DDC3;
  width: 400px;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  height: 500px;
}
