// Specific CSS for your home-page
// .btn-primary{
//   background-color: #D23333;
//   border-color: #d23333;
//   opacity: 0.9;
// }

.btn-primary hover {
  border-color: #fdd31c;
  background-color: #FDD835;

}

.btn{
  opacity: 0.9;
}


.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  position: relative;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(192,192,192,0.8);
  }

  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }

}

.banner-content {
  position: absolute;
  top: 150px;
  left: 100px;
}
