.profile-dashboard {
  grid-template-columns: 300px 1fr 1fr;
  height: calc(100vh - 70px);
}

.dashboard-avatar {
  width: 100px;
  border-radius: 50%;
}

.dash-card {
  background: $fake-white;
  padding: 50px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  top: 50px;
  position: sticky !important;
  text-align: center;
  p {
    text-align: center;
  }
}


.card-listings {
  width: 100%;
  padding: 10px;
  border: .5px solid rgba(0,0,0,.1);
}

.dash-container {
  margin-top: 20px;
}



.dash-list {
   h3 {
    margin-top: 0px;
    text-align: left;
    color: $yellow;
  }
}
