<div class="row">
  <div class="col-sm-12">
    <div class="form-inline" >
      <%= simple_form_for(:search, url: items_path, html: { method: :get }) do |f| %>
      <%= f.input :name, label: false, placeholder: 'Find an item...' %>
      <%= f.input :category, collection: ["Garden", "Electronics", "Outdoors", "Home"], label:false, prompt: 'Select Category' %>
      <%= f.submit " Search ", :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
