<div class="tabs-container">
  <div class="tabs">
    <div class="tab">
      <%= link_to 'Dashboard', dashboard_path %>
    </div>
    <div class="tab">
      <%= link_to 'Calendar', calendar_path %>
    </div>
    <div class="tab">
      <%= link_to 'Messages', messages_path %>
    </div>
  </div>
</div>

<div class="calendar-container">
  <div id="calendar"></div>
</div>
