<div class="banner" style="background-image: url('assets/yellow-banner.jpg');">
  <div class="banner-content">
    <h1>Movers 'n' Makers</h1>
    <a class="btn btn-primary btn-lg">Browse now</a>
  </div>
</div>
