
.card {
  margin: 20px 0px;
}

.card-body {
  height: 90px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;

    h4 {
    color: $dark-gray;
    margin: 0px;
    font-size: 16px;
    text-align: left;
  }
}

.card-user {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.card-avatar {
  border-radius: 50%;
  height: 40px;
}

.card-bg {
  height: 150px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.card-price {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: $yellow;
  border-radius: 5px;
  opacity: 0.85;

  h4 {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    color: $dark-gray;
  }
}

.card-wrapper {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

a:hover {
  text-decoration: none;
}

.card-user-details {
  margin-left: 10px;

    h5 {
    margin: 0px;
    font-size: 14px;
  }

  p {
    color: $gray;
    font-size: 12px;
    margin: 0px;
  }
}
