// .table {
//   border-left: 2px;
//   width: 1000px;
//   margin: auto;


// }

.white {
  background-color: white;
}

h3{
  text-align: center;
  margin-top: 50px;

}

.inbox {
  background-color: white;
  border-radius: 5px;

  width: 900px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 14px;
  color: #424242;

  // text-align: center;

}

.col-xs-3 {
  // text-align: center;
}

.green-background {
  background-color: rgba(108,196,108,0.2);


}

.red-text {
  color: #D23333;

  // text-align: center;
}

.row {
  border-bottom: #eaeaea solid 0.2px;
  padding-top: 7px;
}

.inbox-icons {
  height: 10px;
  color: #D23333;
  margin-left: 1.5px;
}

.col-xs-2 a.inbox-icons:hover {
  background-color: yellow;
}


