// .table {
//   border-left: 2px;
//   width: 1000px;
//   margin: auto;


// }

.white {
  background-color: white;
}

h3{
  text-align: center;
  margin-top: 50px;

}

.inbox {
  background-color: white;
  border-radius: 5px;
  border: #D23333 solid 0.4px;
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 16px;
  // text-align: center;

}

.col-xs-3 {
  // text-align: center;
}

.green-background {
  background-color: rgba(108,196,108,0.2);


}

.red-text {
  color: #D23333;

  // text-align: center;
}

.row {
  border-bottom: #eaeaea solid 0.2px;
  padding-top: 7px;

}

