/* Main navbar */
.pages.home .navbar-wagon {
  background: transparent;
  width: 100%;
  h1 {
    font-size: 24px;
    color: $dark-gray;
    margin: 0px 10px;
  }
}

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $yellow;
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand {
  display: flex;
  align-items: center;

  h1 {
    font-size: 24px;
    color: $dark-gray;
    margin: 0px 10px;
  }

  img {
    height: 50px;
  }
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  word-spacing: 2px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $dark-gray;
  font-size: 18x;
}
.navbar-wagon-link:hover {
  color: $light-gray;
  text-decoration: none;
}


